<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head metadata fragment-->
<header th:insert="fragments/general.html :: headerfiles"></header>

<body>

<!-- navbar fragment -->
<div th:insert="fragments/general.html :: header"></div>

<div class="container">

    <h1>Application Mcommerce</h1>

    <div class="row">
        <div th:each="produit : ${produits}" class="col-md-4 my-1">
            <a th:href="@{|/details-produit/${produit.id}|}" >
                <img th:src="${produit.image}"  class="card-img-top" />
                <p th:text= "${produit.titre}"></p>
            </a>
        </div>
    </div>

</div>

<!-- script footer fragment-->
<div th:insert="fragments/general.html :: script-footer"></div>

</body>
</html>