<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- head metadata fragment-->
<header th:insert="fragments/general.html :: headerfiles"></header>

<body>

<!-- navbar fragment -->
<div th:insert="fragments/general.html :: header"></div>

<div class="container">

    <h1 class="text-center">Application Mcommerce</h1>

    <div class="row">
        <div class="col-md-4 mx-auto mt-5 text-center">

            <p th:if="${paiementOk}" >
                Paiement Accepté
            </p>

            <p th:unless="${paiementOk}">
                Le paiement n'a pas abouti
            </p>

			<p>
				<a th:href="@{|/|}">Retour</a>
			</p>

        </div>
    </div>

</div>

<!-- script footer fragment-->
<div th:insert="fragments/general.html :: script-footer"></div>

</body>
</html>