<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- head metadata fragment-->
<header th:insert="fragments/general.html :: headerfiles"></header>

<body>

<!-- navbar fragment -->
<div th:insert="fragments/general.html :: header"></div>

<div class="container">

    <h1 class="text-center">Application Mcommerce</h1>

    <div class="row">
        <div class="col-md-4 mx-auto mt-5 text-center">

            <p>
                Ici l'utilisateur sélectionne en temps normal un moyen de paiement et entre les informations de sa carte bancaire.<br/>
                Nous allons éviter d'ajouter les formulaires nécessaireS afin de garder l'application la plus basique et simple possible pour la suite.<br/>
                Si vous vous sentez à l'aise, vous pouvez créer un formulaire pour accepter le numéro de la CB, que vous traiterez dans le contrôleur grâce à
                un <i>PostMapping</i>.
            </p>
		
		      <div>
		         <table border="1">
		            <tr>
		               <th>commandeId</th>
		               <th>productId</th>
		               <th>dateCommande</th>
		               <th>commandePayee</th>
		               <th>quantite</th>
		               <th>Montant</th>
		            </tr>
		            <tr>
		               <td th:utext="${commande.id}" class="font-weight-bold">...</td>
		               <td th:utext="${commande.productId}" class="font-weight-bold">...</td>
		               <td th:utext="${#calendars.format(commande.dateCommande,'dd MMMM yyyy HH:mm')}" class="font-weight-bold">...</td>
		               <td th:utext="${commande.commandePayee}" class="font-weight-bold">...</td>
		               <td th:utext="${commande.quantite}" class="font-weight-bold">...</td>
		               <td th:utext="${montant}" class="font-weight-bold">...</td>
		               
		            </tr>
		         </table>
		      </div>

            <!-- On passe l'id de la commande ET le montant de celle-ci afin que le contrôleur ait les informations nécessaires pour faire appel au microservice de paiement -->
            <p>
                <a th:href="@{|/payer-commande/${commande.id}/${montant}|}" class="font-weight-bold">Payer Ma Commande</a>
            </p>



        </div>
    </div>

</div>

<!-- script footer fragment-->
<div th:insert="fragments/general.html :: script-footer"></div>

</body>
</html>